
*.xcuserstate
DataRetrievalFramework_objc.xcodeproj/xcuserdata/oakleyk.xcuserdatad/xcschemes/DataRetrievalFramework_objc.xcscheme
DataRetrievalFramework_objc.xcodeproj/xcuserdata/oakleyk.xcuserdatad/xcschemes/DataRetrievalFramework_objcTests.xcscheme
DataRetrievalFramework_objc.xcodeproj/xcuserdata/oakleyk.xcuserdatad/xcschemes/xcschememanagement.plist
